@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@model VisualTraining.Models.Database.Diagnosis

<h1>Vision Training</h1>
<div class="wizard">
    <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-folder-open"></i>
                    </span>
                </a>
            </li>
            <li role="presentation" class="disabled">
                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                </a>
            </li>
            <li role="presentation" class="disabled">
                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-picture"></i>
                    </span>
                </a>
            </li>
            <li role="presentation" class="disabled">
                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-ok"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <form role="form">
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="step1">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-3 control-label">Patient Name</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="PatientName" id="PatientName" value="@((Model != null) ? Model.Patient.Name: string.Empty)" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label">DOB</label>
                        <div class="col-md-8">
                            <input class="form-control datepicker" type="text" name="DOB" id="DOB" value="@((Model != null) ? Model.Patient.DOBString: string.Empty)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-3 control-label">Optometrist</label>
                        <div class="col-md-9">
                            <select class="form-control" name="Optometrist" id="Optometrist">
                                @if (Model != null && Model.Optometrist.Equals("Anne Pezzimenti"))
                                {
                                    <option selected value="Anne Pezzimenti">Anne</option>
                                }
                                else
                                {
                                    <option value="Anne Pezzimenti">Anne</option>
                                }
                                @if (Model != null && Model.Optometrist.Equals("Orlando Pezzimenti"))
                                {
                                    <option selected value="Orlando Pezzimenti">Orlando</option>
                                }
                                else
                                {
                                    <option value="Orlando Pezzimenti">Orlando</option>
                                }

                                @if (Model != null && Model.Optometrist.Equals("Peter Nixon"))
                                {
                                    <option selected value="Peter Nixon">Peter</option>
                                }
                                else
                                {
                                    <option value="Peter Nixon">Peter</option>
                                }

                                @if (Model != null && Model.Optometrist.Equals("Kha Diep"))
                                {
                                    <option selected value="Kha Diep">Kha</option>
                                }
                                else
                                {
                                    <option value="Kha Diep">Kha</option>
                                }


                                @*<option selected="@((Model != null && Model.Optometrist.Equals("Anne Pezzimenti")) ? "selected" : string.Empty)" value="Anne Pezzimenti">Anne</option>
                                <option selected="@((Model != null && Model.Optometrist.Equals("Orlando Pezzimenti")) ? "selected" : string.Empty)" value="Orlando Pezzimenti">Orlando</option>
                                <option selected="@((Model != null && Model.Optometrist.Equals("Peter Nixon")) ? "selected" : string.Empty)" value="Peter Nixon">Peter</option>
                                <option selected="@((Model != null && Model.Optometrist.Equals("Kha Diep")) ? "selected" : string.Empty)" value="Kha Diep">Kha</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label">Number of Session</label>
                        <div class="col-md-8">
                            <input class="form-control " type="number" name="NumberOfSession" id="NumberOfSession" value="@((Model != null) ? Model.NoOfSession.ToString(): string.Empty)" />
                        </div>
                    </div>
                </div>
                <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-primary next-step" data-diagnosisid="@((Model != null) ? Model.DiagnosisID.ToString(): string.Empty)" id="btnStep1" name="btnStep1">Save and continue</button></li>
                </ul>

            </div>
            <div class="tab-pane" role="tabpanel" id="step2">
                <h3>Select Conditions</h3>
                <div id="selectedDiv">
                    <h4>Selected Conditions:</h4>
                    <ul id="selectedList"></ul>
                </div>
                <div id="container">

                    <div id="no1">
                        <fieldset>
                            <legend>Gross motor</legend>
                            <ul>
                                <li>
                                    <a id="1" href="" class="oneLiner">Primitive reflexes</a>
                                </li>
                                <li class="hasActivity">
                                    <a id="2" href="" class="oneLiner">Bilateral Integration</a>
                                </li>
                                <li class="hasActivity">
                                    <a id="3" href="" class="oneLiner">Laterality > Directionality > Reversals</a>
                                </li>
                                <li class="hasActivity">
                                    <a id="4" href="" class="oneLiner">Spatial awareness</a>
                                </li>
                            </ul>

                        </fieldset>

                    </div>
                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Fine motor</legend>
                            <ul>
                                <li><a class="oneLiner">Fine motor skills</a></li>
                                <li class="hasActivity">
                                    <a id="5" href="" class="oneLiner">Eye-Hand coordination</a>
                                </li>
                                <li class="hasActivity">
                                    <b>Visual Motor Integration</b>
                                    <ul>
                                        <li><a id="24" class="childOption oneLiner hasActivity" href="">VMI</a></li>
                                        <li><a id="25" class="childOption oneLiner hasActivity" href="">TVAS</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </fieldset>

                    </div>

                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Oculomotor Control</legend>
                            <ul>
                                <li class="hasActivity">
                                    <b>Vergence</b>
                                    <ul>
                                        <li><a id="9" class="childOption oneLiner hasActivity" href="">CI</a></li>
                                        <li><a id="26" class="childOption oneLiner hasActivity" href="">CE</a></li>
                                        <li><a id="27" class="childOption oneLiner hasActivity" href="">DI</a></li>
                                        <li><a id="28" class="childOption oneLiner hasActivity" href="">DE</a></li>
                                    </ul>

                                </li>
                                <li class="hasActivity">
                                    <b>Accommodation</b>
                                    <ul>
                                        <li><a id="10" class="childOption oneLiner hasActivity" href="">AI</a></li>
                                        <li><a id="29" class="childOption oneLiner hasActivity" href="">CE</a></li>
                                        <li><a id="30" class="childOption oneLiner hasActivity" href="">Acc. Infacility</a></li>
                                    </ul>

                                </li>
                            </ul>

                        </fieldset>

                    </div>
                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Bin</legend>
                            <ul>
                                <li><a id="6" href="">Visual Acuity</a></li>
                                <li><a id="7" href="">Peripheral Vision</a></li>
                                <li><a id="8" href="">Oculomotor Control</a></li>
                            </ul>

                        </fieldset>

                    </div>

                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Visual functions</legend>
                            <ul>
                                <li><a id="6" href="">Visual Acuity</a></li>
                                <li><a id="7" href="">Peripheral Vision</a></li>
                                <li><a id="8" href="">Oculomotor Control</a></li>
                            </ul>

                        </fieldset>

                    </div>



                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Tracking</legend>
                            <ul>
                                <li class="hasActivity"><a id="11" href="">Smooth Pursuit</a></li>
                                <li class="hasActivity"><a id="12" href="">Saccade/ Visual attention</a></li>
                            </ul>

                        </fieldset>
                        <h4>Visual Attention and Scanning</h4>

                    </div>


                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Visual Processing</legend>
                            <ul>
                                <li class="hasActivity"><a id="13" href="">Visual Spatial Relations (Laterality > Directionality > Reversals)</a></li>
                                <li class="hasActivity"><a id="14" href="">Visual discrimination/ VFG</a></li>
                                <li class="hasActivity"><a id="15" href="">Visual memory</a></li>
                                <li class="hasActivity"><a id="16" href="">Visual sequential memmory</a></li>
                                <li class="hasActivity"><a id="17" href="">Visual Span - Visual processing speed</a></li>
                            </ul>

                        </fieldset>
                    </div>
                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Visual Processing - Visual Cognition</legend>
                            <ul>
                                <li class="hasActivity"><a id="18" href="">Visual memmory and Visualisation (Spelling Comprehension, Block Flipping)</a></li>
                                <li><a href="">Working memmory</a></li>

                            </ul>

                        </fieldset>
                    </div>
                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Visual Verbal Languege Integration</legend>
                            <ul>
                                <li class="hasActivity"><a href="">RAN</a></li>
                                <li class="hasActivity"><a id="19" href="">Decoding speed</a></li>
                                <li><a id="20" href="">VDST/ Span/ VSeqM</a></li>
                                <li><a id="21" href="">Word Jumple</a></li>
                            </ul>

                        </fieldset>
                    </div>

                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Auditory Processing</legend>
                            <ul>
                                <li><a id="24" href="">Phonological awareness RAAS</a></li>
                                <li><a id="25" href="">Discrimination</a></li>
                                <li><a id="26" href="">Auditory Memory</a></li>
                                <li class="hasActivity"><a id="27" href="">Auditory Sequential Mem</a></li>
                                <li class="hasActivity"><a id="28" href="">Blending (synthesizing words)</a></li>
                            </ul>
                        </fieldset>
                    </div>

                    <div id="line1"></div>
                    <div id="no2">
                        <fieldset>
                            <legend>Visual Auditory Integration</legend>
                            <ul>
                                <li class="hasActivity"><a id="29" href="">Aural Digit Span Test</a></li>
                            </ul>
                        </fieldset>
                    </div>

                    @*<div id="line2"></div>
                        <div id="line3"></div>
                        <div id="line4"></div>
                        <div id="line5"></div>
                        <div id="line6"></div>
                        <div id="no2"><a href="">Sales &amp; Marketing Director</a></div>
                        <div id="no3"><a href="">Production Director</a></div>
                        <div id="no4"><a href="">Human Resources Director</a></div>
                        <div id="no5"><a href="">Finance Director</a></div>
                        <div id="line7"></div>
                        <div id="line8"></div>
                        <div class="clear"></div>
                        <div id="no6"><a href="">Factory Manager</a></div>
                        <div id="line9"></div>
                        <div id="line10"></div>
                        <div id="no7"><a href="">Management Accountant</a></div>
                        <div id="line11"></div>
                        <div id="line12"></div>
                        <div class="clear"></div>
                        <div id="line13"></div>
                        <div id="line14"></div>
                        <div class="clear"></div>
                        <div id="no8"><a href="">Quality Control Manager</a></div>
                        <div id="line15"></div>
                        <div id="line16"></div>
                        <div id="no9"><a href="">Financial Accountant</a></div>
                        <div id="line17"></div>
                        <div id="line18"></div>*@
                    <div class="clear"></div>

                </div>
                <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                    <li><button type="button" id="btnStep2" name="btnStep2" data-diagnosisid="@((Model != null) ? Model.DiagnosisID.ToString(): string.Empty)" class="btn btn-primary next-step">Save and continue</button></li>
                </ul>
            </div>
            <div class="tab-pane" role="tabpanel" id="step3">
                <h3>Step 3</h3>
                <p>This is step 3</p>
                <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                    <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                    <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                </ul>
            </div>
            <div class="tab-pane" role="tabpanel" id="complete">
                <h3>Complete</h3>
                <p>You have successfully completed all steps.</p>
            </div>
            <div class="clearfix"></div>

        </div>
    </form>
</div>

